<div class="input_line">
  <div class="input_label"><%= form.label :image_url, _("Image URL") %></div>
  <div class="input_value"><%= form.text_field :image_url, :size => 70 %></div>
</div>

<div class="input_line">
  <div class="input_label"><%= form.label :link_url, _("Link URL") %></div>
  <div class="input_value"><%= form.text_field :link_url, :size => 70 %></div>
</div>
