<div class="relative100 <%= 'invisible' if thankyous.empty? %>">
  <h2 class="topix_title"><%= icon_tag('asterisk_orange') %><%= _('Thankyous') %></h2>
  <div class="topix_body">
    <table id="thankyous_list" class="normal user_chain ui-corner-all">
    <% thankyous.each do |thankyou| -%>
      <%= render :partial => 'thankyous/thankyou', :locals => {:thankyou => thankyou} %>
    <% end -%>
    </table>
  </div>
</div>
