<div class="action_buttons ui-corner-all">
  <ul class="no_style">
    <% if @event.attendees.status_is('attend').find_by_user_id(current_user.id) -%>
      <% if @event.public -%>
        <li><%= link_to(content_tag('span', _('Cancel this event')), absent_attendee_path(@event) , {:class => "rounded", :method => :post}) %></li>
      <% else -%>
        <li><%= link_to(content_tag('span', _('Absent this event')), absent_attendee_path(@event) , {:class => "rounded", :method => :post}) %></li>
      <% end -%>
    <% else -%>
      <li><%= link_to(content_tag('span', _('Attend this event')), attend_attendee_path(@event) , {:class => "rounded", :method => :post}) %></li>
    <% end -%>
  </ul>
</div>
