<div class="action_buttons ui-corner-all">
  <ul class="no_style">
    <%  current_user_attendee = @event.attendees.find_by_user_id(current_user.id) -%>
    <% if @event.enable_attend_or_absent?(current_user) -%>
      <% if !current_user_attendee && @event.publication_type == 'protected' -%>
        <li><%= link_to(content_tag('span', _('Attend this event')), attend_event_attendee_path(@event, current_user_attendee) , {:class => "rounded", :method => :post}) %></li>
        <li><%= link_to(content_tag('span', _('Absent this event')), absent_event_attendee_path(@event, current_user_attendee) , {:class => "rounded", :method => :post}) %></li>
      <% elsif @event.attendees.status_is(true).find_by_user_id(current_user.id) -%>
        <li><%= link_to(content_tag('span', _('Absent this event')), absent_event_attendee_path(@event, current_user_attendee) , {:class => "rounded", :method => :post}) %></li>
      <% else -%>
        <li><%= link_to(content_tag('span', _('Attend this event')), attend_event_attendee_path(@event, current_user_attendee) , {:class => "rounded", :method => :post}) %></li>
      <% end -%>
    <% end -%>
  </ul>
</div>
