<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>

<%= render(:partial => "system/error_messages_for", :locals => { :messages => @error_msg }) if @error_msg %>
<div class="box">
  <% form_for(@user, :url => admin_tenant_user_user_profile_path(current_tenant, @user), :html => {:method => :put}) do |f| %>
  <% tabindex = 0 -%>
  <%= render :partial => "users/form", :locals => {:form => f, :tabindex => tabindex} %>
  <p>
    <%= f.submit _('Update'), :disable_with => _('Now Updating...') %>
  </p>
  <% end %>
</div>
