<div class="form_space share_file">
  <div class="form_wrapper">
    <% form_for [current_tenant, current_target_owner, @share_file], :html => {:multipart => true, :class => 'share_file_form'} do |f| -%>
      <%= render f %>
      <%= submit_tag _("Create"), :id => "submit_button" %>
    <% end -%>
  </div>
</div>
