<% content_for :contents_right do -%>
  <div class="relative100">
    <h2 class="topix_title"><%= icon_tag('asterisk_orange') %><%= _('Profile') %></h2>

    <div class="topix_body">
    <%= render :partial => 'user/account_information' %>
    </div>
  </div>
  <%= render :partial => 'user/against_chains', :locals => {:against_chains => @against_chains} %>
<% end -%>
