<% stock_entries.sort_by(&:title).each do |stock_entry| -%>
  <li><%= link_to_stock_entry stock_entry %></li>
  <ul><%= render :partial => 'group/stock_entries', :locals => {:stock_entries => BoardEntry.children(stock_entry).aim_type('stock_entry') } %></ul>
<% end -%>
