<% root_stock_entry = stock_entries.select{ |entry| entry.parent_id.blank? }.first -%>
<% unless root_stock_entry.blank? -%>
  <div class="index">
    <ul>
      <li><%= link_to_unless_current h(root_stock_entry.title), {:controller => 'group', :action => 'show', :gid => @group.gid } do content_tag 'b', h(root_stock_entry.title) end %></li>
      <ul><%= render :partial => 'group/stock_entries', :locals => { :stock_entries => BoardEntry.children(root_stock_entry).aim_type('stock_entry') } %></ul>
    </ul>
  </div>
<% end -%>
