<% thankyous = Thankyou.comment_is_not('').descend_by_created_at.all(:include => [:receiver, :sender]) -%>
<% unless thankyous.empty? -%>
<div id="thankyou_box" class="right_box ui-corner-all">
  <h2 class="ui-corner-top"><%= _("Recently Thankyous") %></h2>
  <table>
    <tbody>
      <% thankyous.each do |thankyou| -%>
      <tr>
        <td rowspan="2" style="width: 48px; padding: 5px;">
          <%= user_link_to_with_portrait(thankyou.receiver, :width => 48, :height => 48) %>
        </td>
        <td style="padding: 5px 5px 0 0;">
          by <%= user_link_to(thankyou.sender) %>
        </td>
      </tr>
      <tr>
        <td style="padding: 0px 5px 5px 0;">
          <span class="small_text"><%=h thankyou.comment %></span>
        </td>
      </tr>
      <% end -%>
    </tbody>
  </table>
</div>
<% end -%>
